body {
    background-image: 
    url(mehdi-sepehri-cX0Yxw38cx8-unsplash.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: flex-end;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 900px;
}

.first-container {
    background-color: rgb(221, 220, 220);
    height: auto;
    margin: 0px;
    padding-top: 200px;
    padding-bottom: 50px;
    width: 100%;
}

.second-container {
    background-color: whitesmoke;
    width: 100%;
}

.third-container {
    background-color: rgb(221, 220, 220);
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
}

form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
  
label {
    font-weight: bold;
    width: 130px;
    float: left;
}

input:focus {
    outline: none;
    border-color: rgb(4, 124, 199);
    box-shadow: 0 0 5px rgb(4, 124, 199);
}

input {
  width: 25%;
}

button {
  box-shadow: inset 0 0 0 0 rgb(4, 124, 199);
  color: black;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-size: 20px;
  border-radius: 4px;
  border-color: rgb(4, 124, 199);
}

button:hover {
  box-shadow: inset 200px 0 0 0 rgb(4, 124, 199);
  color: rgb(255, 255, 255);
}
